<!--  Head css and js for duplicating live service  -->
<link href="/public/vdl/application-ac5c76582c33fd730fdc2704dc401728.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/vdl/print-546864271280c5a1b3d7e8a0bbe71896.css" media="print" rel="stylesheet" type="text/css">
<link href="/public/vdl/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="all" rel="stylesheet" type="text/css">

<script src="/public/vdl/jquery-1.7.2-2ce4706f8f7193defaa9e7df2b641e9a.js" type="text/javascript"></script>
<script src="/public/vdl/application-c7dbb181d219cf9ced8ade278b3b39ad.js" type="text/javascript" defer=""></script>

<script src="/public/vdl/frontend.js" type="text/javascript"></script>
<script src="/public/vdl/helpToggler.js"></script>
<!--[if gt IE 8]><!-->
<link href="/public/vdl/application-c2ffe841ef43190446b7913524259db2.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]-->

<link href="/public/vdl/application.css" rel="stylesheet" />
