{% extends "layout.html" %}

{% block page_title %} Confirmation {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="govuk-box-highlight">
                <h1 class="bold-large heading-large"><img src="/public/images/tick-white.png" alt="" width="32px">&nbsp;Thank you</h1>
                <h2 class="heading-large">You have succesfully unsubscribed</h2> 
                <h2 class="heading-large">from this service</h2>
                </div>
                
            
            <div>
                <p>You will receive a reminder two weeks prior to your Tax and/or MOT expiry dates.</p>
                <p>Your reminder will be sent to you via the email address you provided.</p>

                
      
                
                {{ button.input(id='button', name='button', class='button', type='button', value='Return to GOV.UK') }}
            </div>
        </div>

        <div class="column-one-third">

        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function () {
        // Enter function name here
        next();
    });

    function next() {
        window.location.href = 'index';
    }
</script>

{% endblock %}