{% extends "layout.html" %}

{% block page_title %} Devices {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main">
    <div class="column-full">
    <div class="grid-row">
        <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

        <div class="column-two-thirds">
          
            <h2 class="heading-large">Enter your details</h2>
            
      <div class="form-group">
  <label class="form-label" for="first-name-2">Vehicle registration number</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<p>
  
</p>

<div class="form-group">
  <label class="form-label" for="last-name-2">Email address</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>

            
            


            <br>
            
            {{ button.input(id='button', name='button', class='button', type='button', value='Continue') }}
            
            
            
        </div>

        <div class="column-one-third">
            
        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function(){
        // Enter function name here
        next();
    });

    function next() {
        window.location.href = 'reminder2';
    }
</script>

{% endblock %}