{% extends "layout.html" %}

{% block page_title %} Devices {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
    {% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

        <div class="column-two-thirds">
          
            <h2 class="heading-large">Check your details before confirming</h2>
            
 <table>
  <thead>
    <tr>
      <th colspan="2">Dates and amounts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Registration number</td>
      <td>BV09 WXL</td>
        <td><p>
  <a href="enterdetails2.html">Change</a>
</p></td>
    </tr>
    <tr>
      <td>Email address</td>
      <td>Joe.bloggs@email.com</td>
      <td><p>
  <a href="enterdetails2.html">Change</a>
</p></td>
    </tr>
    
   
  </tbody>
</table>
            
            
            <br>
            
            {{ button.input(id='button', name='button', class='button', type='button', value='Unsubscribe') }}
            
            
            
        </div>

        <div class="column-one-third">
            
        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function(){
        // Enter function name here
        next();
    });

    function next() {
        window.location.href = 'unsubscribe_confirmation';
    }
</script>

{% endblock %}